#### 1. What are escape characters, and how do you use them?

**Ans:** To use characters that are illegal in a string we use an escape character. An escape character is a backslash `\` followed by the character we want to insert.

In [8]:
# Example the escape character allows to use double quotes when normally would not be allowed:

test =  'I am learning \"Data science\" from ineuron'
print(test)

I am learning "Data science" from ineuron

#### 2. What do the escape characters n and t stand for?

**Ans:** 

'\n' stands for newline

'\t' stands for tab space

In [14]:
# Example for \n

t1= "this is first line \nthis is second line"
print(t1)

this is first line
this is second line

In [15]:
# Example for \t

t2= "this is first line \tthis is second line"
print(t2)

this is first line 	this is second line

#### 3. What is the way to include backslash characters in a string?

**Ans:** To include backslash character in a string we have to use double backslash.

In [19]:
t3 = ('"\\" is the backslash')
print(t3)

"\" is the backslash

#### 4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?

**Ans:** The single quote in Howl's is fine because you've used double quotes to mark the beginning and end of the string. like wise we can use double quotes in with single quotes.

In [21]:
t4 = "Howl's Moving Castle"
print(t4)

Howl's Moving Castle

#### 5. How do you write a string of newlines if you don't want to use the n character?

**Ans:**

In [23]:
print("printing something in new line",end = '\n')
print("newline")

printing something in new line
newline

#### 6. What are the values of the given expressions?

**Ans:**

In [25]:
'Hello, world!'[1]

'e'

In [26]:
'Hello, world!'[0:5]

'Hello'

In [27]:
'Hello, world!'[:5]

'Hello'

In [28]:
'Hello, world!'[3:]

'lo, world!'

#### 7. What are the values of the following expressions?

**Ans:**

In [29]:
'Hello'.upper()

'HELLO'

In [30]:
'Hello'.upper().isupper()

True

In [31]:
'Hello'.upper().lower()

'hello'

#### 8. What are the values of the following expressions?

**Ans:**

In [32]:
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [33]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

#### 9. What are the methods for right-justifying, left-justifying, and centering a string?

**Ans:**

In [34]:
# left justified
str ="Ineuron"
str.ljust(10,"-")

'Ineuron---'

In [36]:
# right justified
str ="Data science"
str.rjust(40,'*')

'****************************Data science'

In [37]:
# center justified
str ="Data Science"
str.center(40,'*')

'**************Data Science**************'

#### 10. What is the best way to remove whitespace characters from the start or end?

**Ans:**

In [43]:
str ="  Data science  " 
str.lstrip()            # to remove white space from start

'Data science  '

In [42]:
str ="  Data science  " 
str.rstrip()            # to remove white space from end

'  Data science'